# .NET build folders
bin/
obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo

# Build outputs
*.dll
*.exe
*.pdb
*.cache
/.vs/Mreze-Projekat/CopilotIndices/17.14.1530.14912/CodeChunks.db-wal
/.vs/Mreze-Projekat/CopilotIndices/17.14.1530.14912/SemanticSymbols.db-wal
/.vs/Mreze-Projekat/DesignTimeBuild/.dtbcache.v2
