
[Bb]in/
[Oo]bj/


.vs/
*.user
*.userosscache
*.sln.doccache
*.suo
*.db
*.db-shm
*.db-wal
*.json

# Specijalni VS fajlovi
DocumentLayout.json
*.v2
*.cache


.vscode/

*.log

*.suo
*.user
*.userosscache
